body{
    background-image: url(../../img/background.webp);
    background-size: cover;
    background-position: center;
}

html{
    height: 100%;
}

h3{
    text-align: center;
    color: white;
    font-size: 22px;
}

.form{
    font-size: 13px;
    padding: 15px;
    color: white;
    width: 600px;
}

.btn-primary{
    margin-top: 20px;
    font-size: 18px;
    width: 100%;
}

.fa-prescription{
    padding-right: 4px;
}

input:valid {
    background-color: #e6ffe6;
}

.alert {
    text-align: center;
}