body{
    background-image: url(../../img/background.webp);
    background-size: cover;
    background-position: center;
}

html{
    height: 100%;
}

.container{
    text-align: center;
    width: 800px;
    margin-top: 150px;
    color: white;
}