body{
    background-image: url(https://images.unsplash.com/photo-1583604310111-9cd137d6ffe5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
}

html{
    height: 100%;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 51;
  left: 0;
  background-color: #2a2a2a; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: whitesmoke;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 15px;
  cursor: pointer;
  background-color: #2a2a2a;
  color: whitesmoke;
  padding: 3px 8px;
  border: none;
}

.openbtn:hover {
  background-color: black;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 30px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.container h1{
    text-align: center;
    padding-top: 0.5%;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                 0px 8px 13px rgba(0, 0, 0, 0.1)
                 0px 18px 23px rgba(0, 0, 0, 0.1)
}
i{
    padding-right: 3px;
}

.row{
    padding-left: 15rem;
}

div h4{
    color:	whitesmoke;
}


