body{
    background-color: white;
}

html{height: 100%;}
h1{text-align: center;}

#p_name{width: 75px;}
#p_dob{width: 50px;}
#p_addr{width: 175px;}
#p_city{width: 100px;}
#p_zip{width: 25px;}
#p_insurer{width: 100px;}

.fa-eye {
    background-color: rgba(0,0,0,0);
    border: none;
    color: #33cc33;
    padding: 1px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 5px;
}

.fa-trash-alt {
    background-color: rgba(0,0,0,0);
    border: none;
    color: #ff1a1a;
    padding: 1px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 15px;
}

.users_table{
    text-align: center;
    width: 100%;
}

.patient_table{
    margin-bottom: 25px;
}

.container{
    margin-top: 25px;
}
