body{
    background-size: cover;
    background-position: center;
}

html{
    height: 100%;
}

#myContainer {
    background-color: #f2f2f2;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    margin-bottom: 10px;
}

.icon-container{
    margin: 5px;
}

#cashField{
    font-size: 25px;
}

.submit.btn {
    background-color: #2a2a2a;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.submit.btn:hover {
    background-color: white;
}

span.price {
    float: right;
    color: grey;
}

.voidBtn{
    outline: none;
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0px;
    color: red;
}

.voidBtn:hover{
    color: #800000;
}

.fa-ban{
    font-size: 25px;
}

.fa-money-bill-alt:hover{
    color: #006600;
}

.fa-credit-card:hover{
    color: #000099;
}

table tbody, table thead
{
    display: block;
}

table tbody
{
    overflow: auto;
    height: 342px;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }
    .col-25 {
        margin-bottom: 20px;
    }
}